
.t {
    background-color: blue;
    
    width: 800px;
    z-index: 10000;
    
}

.f {
    width: 400px;  
    float: left;
    height: auto;
    background-color: burlywood;
    
}
.s {
    width: 390px;
    height: auto;
    float: left;
    margin-left: 10px;
    background-color: aqua;
}
.r {
    position: relative;
    left: 10%;
    width: 90%;
}
.button {
    bottom: 10%;
    right: 10%;
    position: fixed;
    background-color: white;
}
.h {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}