body {
    width: 800px;
    
}

h1 {
    background-color: blue;
    position: fixed;
    width: 800px;
    
}

.f {
    width: 350px;
    text-align: center;
    float: left;
    margin-top: 100px;
    height: auto;
}
.s {
    width: 350px;
height: auto;
    float: left;
    margin-top: 100px;
    margin-left: 10px;
}